In [43]:
#Requirements of the task:

#Create a Python Class that does the following:
#The end-user can provide a file path, ingested time zone, converted time zone 
#* File path: The file path where the JSON file is located.
#* Ingested Time Zone: The time zone of the time series inside of the JSON.
#* Converted Time Zone: Any time zone that the user wants the time series to be converted.

#1. Ingests a JSON file through a user-specified directory path.
#2. Parse the JSON to a pd.Dataframe.
#3. Create a single time-series plot of two lines, where each line represents a line of the data in a specific time zone. 
#      For example, one line represents Central Prevailing TIme and the other is the same data in Eastern Prevailing Time. 
#   3.a: Make sure there's a legend on the graph.
#   3.b: Extra points for an interactive graph that allows end-users to zoom into a specific point in time.

In [43]:
import pandas as pd
import json
import numpy as np
import pytz
from datetime import datetime
from datetime import timedelta

with open('Timeseries_Consumption.json', 'r') as f:
    data=json.loads(f.read())
objs=list()
data=data['account']['timeseriesdataidr']
for i in range(len(data)):
    objs.append(pd.DataFrame(data[i]['reads']))
data=pd.concat(objs)
#data['t']=pd.to_datetime(data['t'])
data['time']=pd.to_datetime(data['t'], errors='coerce').dt.tz_localize('America/New_York', ambiguous='NaT',nonexistent='NaT')#, ambiguous=False, nonexistent=timedelta(hours=-1))
data

                        t         v                      time
0     2021-01-01 00:00:00  7.717249 2021-01-01 00:00:00-05:00
1     2021-01-01 01:00:00  7.483313 2021-01-01 01:00:00-05:00
2     2021-01-01 02:00:00  7.614158 2021-01-01 02:00:00-05:00
3     2021-01-01 03:00:00  7.733902 2021-01-01 03:00:00-05:00
4     2021-01-01 04:00:00  7.565256 2021-01-01 04:00:00-05:00
...                   ...       ...                       ...
8779  2032-12-31 19:00:00  9.759234 2032-12-31 19:00:00-05:00
8780  2032-12-31 20:00:00  8.741017 2032-12-31 20:00:00-05:00
8781  2032-12-31 21:00:00  8.165296 2032-12-31 21:00:00-05:00
8782  2032-12-31 22:00:00  7.805008 2032-12-31 22:00:00-05:00
8783  2032-12-31 23:00:00  7.906512 2032-12-31 23:00:00-05:00

[105192 rows x 3 columns]

In [46]:
data['time']=data['time'].astype(str)
data[data['time'].str.contains('NaT')]

#est=pytz.timezone('America/New_York')
#for i in range(len(data)):
#    data[i,0]=est.localize(data.iloc[i,0])
#data

                        t         v time
1730  2021-03-14 02:00:00  8.337237  NaT
7441  2021-11-07 01:00:00  9.537729  NaT
1706  2022-03-13 02:00:00  8.337237  NaT
7417  2022-11-06 01:00:00  9.537729  NaT
1682  2023-03-12 02:00:00  8.337237  NaT
7393  2023-11-05 01:00:00  9.537729  NaT
1658  2024-03-10 02:00:00  8.413764  NaT
7369  2024-11-03 01:00:00  7.963536  NaT
1610  2025-03-09 02:00:00  8.337237  NaT
7321  2025-11-02 01:00:00  9.537729  NaT
1586  2026-03-08 02:00:00  8.337237  NaT
7297  2026-11-01 01:00:00  9.537729  NaT
1730  2027-03-14 02:00:00  8.087478  NaT
7441  2027-11-07 01:00:00  9.433042  NaT
1706  2028-03-12 02:00:00  8.087478  NaT
7417  2028-11-05 01:00:00  9.433042  NaT
1658  2029-03-11 02:00:00  8.087478  NaT
7369  2029-11-04 01:00:00  9.433042  NaT
1634  2030-03-10 02:00:00  8.087478  NaT
7345  2030-11-03 01:00:00  9.433042  NaT
1610  2031-03-09 02:00:00  8.337237  NaT
7321  2031-11-02 01:00:00  9.537729  NaT
1754  2032-03-14 02:00:00  8.087478  NaT
7465  2032-11-07 01:00:00  9.433042  NaT