In [43]:
#Requirements of the task:

#Create a Python Class that does the following:
#The end-user can provide a file path, ingested time zone, converted time zone 
#* File path: The file path where the JSON file is located.
#* Ingested Time Zone: The time zone of the time series inside of the JSON.
#* Converted Time Zone: Any time zone that the user wants the time series to be converted.

#1. Ingests a JSON file through a user-specified directory path.
#2. Parse the JSON to a pd.Dataframe.
#3. Create a single time-series plot of two lines, where each line represents a line of the data in a specific time zone. 
#      For example, one line represents Central Prevailing TIme and the other is the same data in Eastern Prevailing Time. 
#   3.a: Make sure there's a legend on the graph.
#   3.b: Extra points for an interactive graph that allows end-users to zoom into a specific point in time.

In [158]:
import pandas as pd
import json

with open('Timeseries_Consumption.json', 'r') as f:
    data=json.loads(f.read())
objs=list()
data=data['account']['timeseriesdataidr']
for i in range(len(data)):
    objs.append(pd.DataFrame(data[i]['reads']))
data=pd.concat(objs)
data['t']=pd.to_datetime(data['t'])
data

                       t         v
0    2021-01-01 00:00:00  7.717249
1    2021-01-01 01:00:00  7.483313
2    2021-01-01 02:00:00  7.614158
3    2021-01-01 03:00:00  7.733902
4    2021-01-01 04:00:00  7.565256
...                  ...       ...
8779 2032-12-31 19:00:00  9.759234
8780 2032-12-31 20:00:00  8.741017
8781 2032-12-31 21:00:00  8.165296
8782 2032-12-31 22:00:00  7.805008
8783 2032-12-31 23:00:00  7.906512

[105192 rows x 2 columns]