In [43]:
#Requirements of the task:

#Create a Python Class that does the following:
#The end-user can provide a file path, ingested time zone, converted time zone 
#* File path: The file path where the JSON file is located.
#* Ingested Time Zone: The time zone of the time series inside of the JSON.
#* Converted Time Zone: Any time zone that the user wants the time series to be converted.

#1. Ingests a JSON file through a user-specified directory path.
#2. Parse the JSON to a pd.Dataframe.
#3. Create a single time-series plot of two lines, where each line represents a line of the data in a specific time zone. 
#      For example, one line represents Central Prevailing TIme and the other is the same data in Eastern Prevailing Time. 
#   3.a: Make sure there's a legend on the graph.
#   3.b: Extra points for an interactive graph that allows end-users to zoom into a specific point in time.

In [32]:
import pandas as pd
import json
#import numpy as np
#import pytz
#from datetime import datetime
from datetime import timedelta

with open('Timeseries_Consumption.json', 'r') as f:
    data=json.loads(f.read())
objs=pd.DataFrame()
data=data['account']['timeseriesdataidr']
for i in range(0,len(data)):
    df=pd.json_normalize(data[i]['reads'])
    objs=objs.append(df)
    ###objs.append(pd.DataFrame(data[i]['reads']))
data=objs.copy()
###data=pd.concat(objs)
data['t']=pd.to_datetime(data['t'])
#data['time']=pd.to_datetime(data['t'])
#data
data.index=data['t']
data.index=data.index.tz_localize('America/New_York', nonexistent='NaT', ambiguous='infer')
data['t']=data['t'].astype(str)
march21=data[data['t'].str.contains('2021-03-14 00:00:00')]
march21=march21.append(data[data['t'].str.contains('2021-03-14 01:00:00')])
march21=march21.append(data[data['t'].str.contains('2021-03-14 02:00:00')])
march21=march21.append(data[data['t'].str.contains('2021-03-14 03:00:00')])
march21=march21.append(data[data['t'].str.contains('2021-03-14 04:00:00')])
march21

AmbiguousTimeError: 2021-11-07 01:00:00

In [26]:
df["t"]=df['t'].astype(str)
df[df['t'].str.contains("02:")]

                        t         v
2     2032-01-01 02:00:00  7.154216
26    2032-01-02 02:00:00  7.917086
50    2032-01-03 02:00:00  7.763507
74    2032-01-04 02:00:00  8.783046
98    2032-01-05 02:00:00  7.119324
...                   ...       ...
8666  2032-12-27 02:00:00  7.853554
8690  2032-12-28 02:00:00  6.341731
8714  2032-12-29 02:00:00  7.858437
8738  2032-12-30 02:00:00  7.154216
8762  2032-12-31 02:00:00  7.917086

[366 rows x 2 columns]